<div class="card" id="cardId">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
                <span class="helloSpan">Merhaba, Kamil</span>
                <span class="dateSpan">Çarşamba, 4 Ocak 2023</span>
            </div>
            <div>
                <img src="./assets/src/notification.svg">
                <img class="userIcon" src="./assets/src/user.svg">
            </div>
        </div>
        <div class="d-flex justify-content-between inlineColor">
            <div class="d-flex flex-column text-center">
                <span class="days">65</span>
                <span class="daysLabel">Kalan Yıllık İzin Hakkım</span>
            </div>
            <hr>
            <div class="d-flex flex-column text-center">
                <span class="days">22</span>
                <span class="daysLabel">Toplam Kullanılan</span>
            </div>
            <hr>
            <div class="d-flex flex-column text-center">
                <span class="days">43</span>
                <span class="daysLabel">Kalan İzin Günüm</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <label>İşlemler</label>
            <div class="mb-5">
                <button class="docButton" mat-fab extended><img class="docIcon" src="./assets/src/doc.svg">Evraklarım</button>
                <button class="payButton" mat-fab extended><img class="payIcon" src="./assets/src/pay.svg">Bordrolarım</button>
            </div>
            <div class="d-flex justify-content-between align-items-baseline">
                <label>Bu Ay Doğanlar</label>
                <a class="allLink" href="">Tümü</a>
            </div>
            <div class="birthdayDiv d-flex mb-5">
                <img class="birthdayCake" src="./assets/src/birthday.svg">
                <div class="d-flex flex-column">
                    <span>Sevgi Bayansalduz . 01.01.2023</span>
                    <div>
                        <img class="smallBirthday" src="./assets/src/smallBirthday.svg">
                        <img class="smallBirthday" src="./assets/src/smallBirthday.svg">
                        <img class="smallBirthday" src="./assets/src/smallBirthday.svg">
                        <img class="smallBirthday" src="./assets/src/smallBirthday.svg">
                        <img class="smallBirthday" src="./assets/src/smallBirthday.svg">
                        <span class="birthdayNo">5 Kişi</span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-baseline">
                <label>Etkinlik ve Duyurular</label>
                <a class="allLink" href="">Tümü</a>
            </div>
            <div class="d-flex flex-column">
                <img src="./assets/src/event1.svg">
                <span class="eventTitle my-2">Senkron Tech İç İletişim Lansmanı</span>
                <span class="eventDate">21 Ocak, 2023</span>
            </div>
        </div>
        
    </div>
</div>
<div class="addIconDiv p-4" id="addIconDivId">
    <div class="d-flex justify-content-around align-center mb-4">
        <div>
            <img src="./assets/src/workadvIcon.svg">
            <span class="addIconDivSpan">İş Avans Talebi Oluştur</span>
        </div>
        <img src="./assets/src/rightArrowIcon.svg">
    </div>
    <div class="d-flex justify-content-around align-center mb-4">
        <div>
            <img src="./assets/src/annualIcon.svg">
            <span class="addIconDivSpan">Yıllık İzin Talebi Oluştur</span>
        </div>
        <img src="./assets/src/rightArrowIcon.svg">
    </div>
    <div class="d-flex justify-content-around align-center">
        <div>
            <img src="./assets/src/eduIcon.svg">
            <span class="addIconDivSpan">Eğitim Talebi Oluştur</span>
        </div>
        <img src="./assets/src/rightArrowIcon.svg">
    </div>
</div>
<app-navbar></app-navbar>
