<div class="container_footer d-flex justify-content-evenly align-items-center">
    <div class="d-flex flex-column align-items-center">
        <img src="./assets/src/homepageIcon.svg">
        <span class="navbarSpan">Ana Sayfa</span>
    </div>
    <div class="d-flex flex-column align-items-center">
        <img src="./assets/src/noticeIcon.svg">
        <span class="navbarSpan">İlanlar</span>
    </div>
    <div class="d-flex flex-column align-items-center">
        <img class="addIcon" (click)="addTransform()" id="addIconId" src="./assets/src/addIcon.svg">
    </div>
    <div class="d-flex flex-column align-items-center">
        <img src="./assets/src/surveyIcon.svg">
        <span class="navbarSpan">Anketler</span>
    </div>
    <div class="d-flex flex-column align-items-center">
        <img src="./assets/src/demandIcon.svg">
        <span class="navbarSpan">Talepler</span>
    </div>
</div>
